.NavBarLogin {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 50px;
  background-color: #172b4d;
}

.logoNav {
  width: 20px;
  height: 20px;
}
.logoutImg {
  cursor: pointer;
  color: silver;
  width: 21px;
  height: 21px;
}

.logoutBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
}

.logoutBtn:hover {
  border-radius: 18px;
  background-color: #c7c7c764;
}

.btnNav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
}

.btnNav:hover {
  background-color: rgba(143, 141, 141, 0.436);
}
.text {
  display: flex;
  color: #c7c7c7;
}

.text:hover {
  color: white;
}

.arrow {
  margin: 0px 4px;
  border: solid silver;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.arrow:hover {
  border-color: white;
}

.NavLogPopover {
  position: absolute;
  color: black;
  z-index: 1000;
  padding: 20px;
  width: 400px;
  height: 300px;
  padding: 0px 0px 0px 0px;
  background-color: silver;
}

.btnPlus {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 30px;
  background-color: #579dff;
  border-radius: 8px;
  font-size: 35px;
  color: rgb(0, 0, 0);
}

.btnPlus:hover {
  background-color: #fcfcfca9;
}

.bellImg {
  width: 20px;
  height: 20px;
  cursor: pointer;
  transform: rotate(45deg);
}

.bellDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
}

.bellDiv:hover {
  border-radius: 14px;
  background-color: #c7c7c764;
}

.userDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
}
.userImg {
  cursor: pointer;
  width: 25px;
  height: 25px;
}

.userDiv:hover {
  border-radius: 18px;
  background-color: #c7c7c764;
}

.questionDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
}

.questionImg {
  cursor: pointer;
  color: silver;
  width: 21px;
  height: 21px;
}

.questionDiv:hover {
  border-radius: 14px;
  background-color: #c7c7c764;
}
.search {
  width: 200px;
  height: 25px;
}
