.container {
  display: flex;
  background-color: #1d2125;
  width: 100vw;
  min-height: 100vh;
  color: #ffffff;
}

.sidebar {
  background-color: #1d2125;
  border-right: 1px solid #333c43;
  padding: 100px 10px 10px 100px;
  width: 15%;
  height: 100%;
  font-size: 19px;
  cursor: pointer;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.board-container {
  background-color: #1d2125;
  width: 100%;
  height: 100%;
  font-size: 18px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.sidebar-list ul li:hover {
  display: flex;
  border-radius: 10px;
  background-color: gray;
}
.side-list-down ul li:hover {
  display: flex;
  border-radius: 5px;
  background-color: gray;
}
.side-list-down {
  padding-top: 90px;
  padding-left: 10px;
}

.recently-viewed {
  padding: 100px 10px 20px 20px;
}
.cards {
  display: flex;
  width: 700px;
  padding-bottom: 150px;
  justify-content: space-around;
  flex-wrap: wrap;
}
.trello-cards {
  display: flex;
  border-radius: 5px;
  width: 200px;
  height: 100px;
  padding: 0px;
  background-color: rgb(151, 58, 83);
  margin: 10px;
}
.trello-workspaces {
  display: flex;
  border-radius: 3px;
}
.trello-workspaces-items span {
  background-color: rgb(113, 111, 111);
  padding: 0 20px 0 20px;
  align-items: center;
  border-radius: 3px;
  justify-items: center;
  margin: 10px;
  flex-wrap: wrap;
}
.trello-workspaces-items span:hover {
  background-color: gray;
}

.your-work {
  padding-left: 20px;
  width: 100%;
  height: 60px;
}
.trello-workspaces-items ul li {
  display: flex;
  padding-left: 40px;
  background-color: rgb(62, 60, 62);
  width: 100px;
  height: auto;
  border-radius: 4px;
}
.trello-cards-new {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 5px;
  width: 200px;
  height: 100px;
  padding: 10px;
  background-color: rgb(143, 138, 139);
  margin: 8px;
}

.board-workspace-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 20px;
  width: 100%;
}

.board-workspace-info-container {
  display: flex;
  align-items: center;
}
.workspace-cards-container {
  display: flex;
  gap: 10px;
  align-items: stretch;
}

.workspace-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 120px;
  width: 200px;
  background-color: red;
  border-radius: 10px;
  padding: 10px;
  gap: 10px;
}

.card-icon {
  align-self: flex-start;
  width: 40px;
  height: 40px;
  background-color: aqua;
}

.card-title {
  font-size: 25px;
}

.card-description {
  font-size: 15px;
}
